In [1]:
#Add root checkout to path
import sys
sys.path.append("..")
import pandas as pd

In [2]:
from paws.s3 import (boto_s3_resource, download)

In [5]:
resource = boto_s3_resource()

In [6]:
#csv_file = download(resource = resource, 
#                   bucket = "gdelt-open-data",
#                   key = "events/1979.csv",
#                   filename = "1979.csv")

2019-02-25 09:46:27,093 - Paws - INFO - Attempting download: gdelt-open-data,events/1979.csv,1979.csv

In [7]:
#Load the file, truncare it and save.
# df = pd.read_csv(csv_file, names=range(5))
# df = df.head(100)
# df.to_csv(csv_file)

In [8]:
df = pd.read_csv("1979.csv", names=range(5))
df.head()

,0,1,2,3,4
NaN,0,1,2,3,4
0.0,0\t19790101\t197901\t1979\t1979.0027\t\t\t\t\t...,NaN,NaN,NaN,NaN
1.0,1\t19790101\t197901\t1979\t1979.0027\t\t\t\t\t...,NaN,NaN,NaN,NaN
2.0,2\t19790101\t197901\t1979\t1979.0027\t\t\t\t\t...,NaN,NaN,NaN,NaN
3.0,3\t19790101\t197901\t1979\t1979.0027\t\t\t\t\t...,Guangxi,China\tCH\tCH16\t23.0036\t106.359\t-1903584\t...,Guangxi,China\tCH\tCH16\t23.0036\t106.359\t-1903584\t...

In [9]:
df.describe()

,0,1,2,3,4
count,101,63,63,59,56
unique,101,34,46,36,37
top,68\t19790101\t197901\t1979\t1979.0027\tCAF\tCE...,Beijing,United States\tUS\tUSDC\t38.8951\t-77.0364\t5...,Beijing,United States\tUS\tUSDC\t38.8951\t-77.0364\t5...
freq,1,6,6,7,7